.stories {
    display: flex;
    margin-bottom: 30px;

    .storyCard {
        position: relative;

        .storyProfie {
            display: flex;
            position: absolute;
            height: 32px;
        }
    }
}