.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    padding: 0.5%;
  }
  
  .container{
    display: flex;
    flex-direction: column;
  }
 .brand {
    width: 69px;
    height: 24px;

    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #2d3748;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
 .brandTitle { /* navbar .brand_title */ 
    width: 79px;
    height: 7px;

    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #2d3748;
    font-size: 8px;
    letter-spacing: 2.20px;
    line-height: 7px;
    white-space: nowrap;
  }
  .search  {
    width: 25%;
    margin-left: 2.5%;
    outline: none; 
}
  
  .searchInput{
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 14px;
    width: 100%;
    background-color: #E5E6ED;
    outline: none; 

  }
  .search input:focus {
  border: none; /* Removes the border when focused */
}
.search input::placeholder {
    font-style: normal; /* Normal style for the placeholder */
    font-size: 14px; /* Smaller size for the placeholder */
  }
  
.postButton {
  width: 134px;
  height: 40px;
  background-color: #1570ef; 
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  
}

/* Hover effect */
.postButton:hover {
  background-color: #0d5edb; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Click effect */
.postButton:active {
  transform: scale(0.96); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.textInPostButton {
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  pointer-events: none; /* Prevent text selection */
}


.avatar{
    scale: 1.15;
    padding-right: 10px;
}
.function{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: auto;
}