.postItem {
  border-color: #000000;
  height: 199px;
  position: relative;
  width: 725px;
  background-color: white;
}

.title {
  display: flex;
  width: 725px;
  height: 24.227px;
  margin-top: -10px;
  flex-direction: column;
  color: #2D3748;
  font-family: "Lato-SemiBold", Helvetica;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28.265px; /* 140% */
}

.image {
  background-position: 50% 50%;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-width: 1.01px;
  border-color: #e5e6ec;
  border-top-style: solid;
  border-top-width: 1.01px;
  height: 154px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 225px;
}

.content {
  position: absolute;
  width: 490px;
  height: 163px;
  left: 230px;
  top: 37px;
  padding: 10px; /* Add some internal padding for spacing */
  overflow: hidden; /* Hide text that overflows */
  box-sizing: border-box; /* Include padding and border in the total width and height */
  word-wrap: break-word; /* Ensure long words break and wrap onto the next line */
}

.contentValue {
  color: #000000;
  font-family: "Lato-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30.3px;
  width: 100%; /* Make the text take up the full width of the parent */
  height: auto; /* Allow the height to adjust based on the content */
  word-wrap: break-word; /* Ensure long words break and wrap to the next line */
  overflow-wrap: break-word; /* Break words when necessary */
}


.more {
  color: #000000;
  font-family: "Lato-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 31px;
  right: 0px;
  letter-spacing: 0;
  line-height: 30.3px;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}
