footerArea {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding: 60px;
}

footerRow {
    margin-left: -25px;
    margin-right: -25px;
}

footerCol {
    padding-right: 25px;
    padding-left: 25px;
}

singleFooterWidget {
    position: relative;
    z-index: 1;
}

copywriteText {
    color: #747794;
    font-size: 1rem;
}

copywriteText:hover,
copywriteText:focus {
    color: #3f43fd;
}

widgetTitle {
    margin-bottom: 1.5rem;
}

footerMenu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}

footerMenu li a:hover,
footerMenu li a:focus {
    color: #3f43fd;
}

footerMenu li:lastChild a {
    margin-bottom: 0;
}

footerSocialArea {
    position: relative;
    z-index: 1;
}

footerSocialLink {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    box-shadow: none;
    margin-right: 10px;
}

footerSocialLink i {
    line-height: 36px;
}

footerSocialLink:hover,
footerSocialLink:focus {
    color: #ffffff;
}

noListStyle li {
    list-style: none;
}

noListStyle {
    margin: 0;
    padding: 0;
}
