
.navbar .logoBrand { /* navbar .logo_brand */
  position: absolute;
  width: 131px;
  height: 40px;
  top: 16px;
  left: 20px;
}


.navbar .logo {
  position: absolute;
  width: 115px;
  height: 40px;
  top: 0;
  left: 0;
}

.navbar .brand {
  position: absolute;
  width: 69px;
  height: 24px;
  top: 2px;
  left: 52px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #2d3748;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.navbar .brandTitle { /* navbar .brand_title */ 
  position: absolute;
  width: 79px;
  height: 7px;
  top: 29px;
  left: 52px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #2d3748;
  font-size: 8px;
  letter-spacing: 2.20px;
  line-height: 7px;
  white-space: nowrap;
}

.navbar .searchBox { /* navbar .search_box */
  position: absolute;
  width: 1635px;
  height: 40px;
  top: 16px;
  left: 177px;
}

.navbar .shape {
  position: relative;
  width: 386px;
  height: 33px;
  top: 1px;
  left: 1px;
  background-color: #e5e6ed;
  border-radius: 50px;
}

.navbar .input {
  position: relative;
  width: 352px;
  height: 24px;
  top: 5px;
  left: 15px;
}


.navbar .text {
  position: absolute;
  width: 360px;
  height: 16px;
  top: 0px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  border: none;
  padding: 0;
  background: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.function {
  position: relative;
  width: 276px;
  height: 40px;
  top: 8px;
  left: 1220px;
}

.function .postButton { /* function .post_button */
  position: absolute;
  width: 134px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #1570ef;
  border-radius: 50px;
}

.function .textInPostButton { /* function .text_in_post_button */
  position: absolute;
  width: 98px;
  height: 17px;
  top: 8.5px;
  left: 16px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}


.function .notice {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 156px;
}

.function .avtButton { /* function .avt_button */
  position: absolute;
  width: 68px;
  height: 40px;
  top: 0;
  left: 208px;
}

.function .dropDown { /* function .drop_down */
  position: absolute;
  width: 13px;
  height: 8px;
  top: 16px;
  left: 55px;
  object-fit: cover;
}

.function .avtPng { /* function .avt-png */
  position: absolute;
  width: 41px;
  height: 40px;
  top: 0;
  left: 0;
  object-fit: cover;
}
body {
  overflow-x: hidden;
}