.AvtAndInformation {
  display: flex; /* Kích hoạt Flexbox */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 279px;
  background-color: #ffffff;

  
}

.AvtAndInformation .container {
  position: relative;
  width: 1211px;
  height: 284px;
  margin: 0; /* Bỏ margin để tránh xung đột */
}

.AvtAndInformation .avatar {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%); /* Dịch chuyển phần tử để căn giữa */
  }
  .role {
    position: relative;
    width: 80px;
    height: 35px;
    top:-16px; 
    margin: 0 auto;
    transform: translate(0%, -50%); /* Dịch chuyển phần tử để căn giữa */
    background-color: #faad14;
    border-radius: 13.88px;
  }


  .name {
    position: relative;
    top: 58px;
    text-align: center;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #2d3748;
    font-size: 22px;
    margin-top: 100px; /* Di chuyển phần tử xuống 100px */
  }
  



.AvtAndInformation .roleValue {
  position: absolute;
  top: 50%; /* Đưa phần tử xuống giữa theo chiều dọc */
  left: 50%; /* Đưa phần tử sang giữa theo chiều ngang */
  transform: translate(-50%, -50%); /* Dịch chuyển phần tử để căn giữa hoàn toàn */
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  white-space: nowrap;
}


 .information {
  position: relative;
  width: 495px;
  height: 60px;
  top: 40px;
  margin: auto;
}

.AvtAndInformation .date {
  position: absolute;
  width: 216px;
  height: 30px;
  top: -60%;
  left: 170px;
}

.AvtAndInformation .dateLabel {
  position: absolute;
  width: 95px;
  height: 30px;
  top: -1px;
  left: -18px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #00000073;
  font-size: 17.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.3px;
  white-space: nowrap;
}

.AvtAndInformation .dateValue {
  position: absolute;
  width: 80px;
  height: 30px;
  top: -1px;
  left: 94px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #00000073;
  font-size: 17.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.3px;
  white-space: nowrap;
}

.AvtAndInformation .post {
  position: absolute;
  width: 187px;
  height: 30px;
  top: 30px;
  border-right-width: 1.01px;
  border-right-style: solid;
  border-color: #e5e6ed;
}

.AvtAndInformation .postLabel {
  position: absolute;
  width: 95px;
  height: 30px;
  top: 0px;
  left: 15px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #00000073;
  font-size: 17.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.3px;
  white-space: nowrap;
}

.AvtAndInformation .postValue {
  width: 52px;
  top: 0px;
  left: 119px;
  position: absolute;
  height: 24px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #2d3748;
  font-size: 20.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.3px;
  white-space: nowrap;
}

.AvtAndInformation .like {
  position: absolute;
  width: 182px;
  height: 30px;
  top: 30px;
  left: 187px;
  border-right-width: 1.01px;
  border-right-style: solid;
  border-color: #e5e6ed;
}

.AvtAndInformation .likeLabel {
  position: absolute;
  width: 78px;
  height: 30px;
  top: 0px;
  left: 15px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #00000073;
  font-size: 17.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.3px;
  white-space: nowrap;
}


.AvtAndInformation .likeValue {
  width: 64px;
  top: 0;
  left: 102px;
  position: absolute;
  height: 24px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #2d3748;
  font-size: 20.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.3px;
  white-space: nowrap;
}

.AvtAndInformation .follow {
    position: absolute;
    width: 165px;
    height: 30px;
    top: 30px;
    left: 374px;

  }

.AvtAndInformation .followLabel {
  position: absolute;
  width: 111px;
  height: 30px;
  top: 0;
  left: 4px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #00000073;
  font-size: 17.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.3px;
  white-space: nowrap;
}

.AvtAndInformation .followValue {
  width: 36px;
  top: 0;
  left: 120px;
  position: absolute;
  height: 24px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #2d3748;
  font-size: 20.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.3px;
  white-space: nowrap;
}
.informationCount{
  width: 543px;
  position: relative;
  top:-40px;
  margin: auto;

}