.post {
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .postWrapper {
    padding: 20px;

    .postTop {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .postTopLeft {
        display: flex;
        align-items: center;

        .postProfileImg {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }

        .postUsername {
          font-size: 15px;
          font-weight: 500;
          font-family: "Roboto-Regular", Helvetica;
          margin: 0 10px;
          cursor: pointer;
        }

        .postDate {
          font-family: "Roboto-Regular", Helvetica;
          font-size: 12px;
        }
      }
    }
    .postCenter {
      margin: 20px 0;

      .postImg {
        width: 100%;
        max-height: 500px;
        object-fit: contain;
        margin-top: 20px;
        cursor: pointer;
      }

      .postText {
        font-family: "Roboto-Regular", Helvetica;
      }
    }

    .postBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .postBottomLeft {
        display: flex;
        align-items: center;
        gap: 10px;

        .bottomLeftIcon {
          cursor: pointer;
        }

        .postLikeCounter {
          font-family: "Roboto-Regular", Helvetica;
          font-size: 20px;
        }
      }

      .postBottomRight {
        .postCommentText {
          font-family: "Roboto-Regular", Helvetica;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }

    .footerHr {
      margin: 10px 0;
    }

    .postBottomFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .postBottomFooterItem {
        display: flex;
        align-items: center;
        padding: 7px;
        cursor: pointer;

        .footerIcon {
          font-size: 30px;
          margin-right: 10px;
        }

        .footerText {
          font-family: "Roboto-Regular", Helvetica;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}
