
.navbar .logo_brand {
  position: absolute;
  width: 131px;
  height: 40px;
  top: 16px;
  left: 20px;
}


.navbar .logo {
  position: absolute;
  width: 115px;
  height: 40px;
  top: 0;
  left: 0;
}

.navbar .brand {
  position: absolute;
  width: 69px;
  height: 24px;
  top: 2px;
  left: 52px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #2d3748;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.navbar .brand_title {
  position: absolute;
  width: 79px;
  height: 7px;
  top: 29px;
  left: 52px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #2d3748;
  font-size: 8px;
  letter-spacing: 2.20px;
  line-height: 7px;
  white-space: nowrap;
}

.navbar .search_box {
  position: absolute;
  width: 1635px;
  height: 40px;
  top: 16px;
  left: 177px;
}

.navbar .shape {
  position: relative;
  width: 386px;
  height: 33px;
  top: 1px;
  left: 1px;
  background-color: #e5e6ed;
  border-radius: 50px;
}

.navbar .input {
  position: relative;
  width: 352px;
  height: 24px;
  top: 5px;
  left: 15px;
}


.navbar .text {
  position: absolute;
  width: 360px;
  height: 16px;
  top: 0px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  border: none;
  padding: 0;
  background: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.function {
  position: relative;
  width: 276px;
  height: 40px;
  top: 8px;
  left: 1220px;
}

.function .post_button {
  position: absolute;
  width: 134px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #1570ef;
  border-radius: 50px;
}

.function .text_in_post_button {
  position: absolute;
  width: 98px;
  height: 17px;
  top: 8.5px;
  left: 16px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}


.function .notice {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 156px;
}

.function .avt_button {
  position: absolute;
  width: 68px;
  height: 40px;
  top: 0;
  left: 208px;
}

.function .drop_down {
  position: absolute;
  width: 13px;
  height: 8px;
  top: 16px;
  left: 55px;
  object-fit: cover;
}

.function .avt-png {
  position: absolute;
  width: 41px;
  height: 40px;
  top: 0;
  left: 0;
  object-fit: cover;
}

 .guide {
  position: relative;
  width: 231px;
  height: 175px;
  top: 29px;
  left: 1275px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid;
  border-color: #cbd5e0;
}

 .text_in_guide {
  position: absolute;
  width: 136px;
  height: 24px;
  top: 16px;
  left: 17px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #2d3748;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

 .guide_image {
  position: absolute;
  width: 197px;
  height: 107px;
  top: 51px;
  left: 17px;
  background-image: url(./img/hd.png);
  background-size: cover;
  background-position: 50% 50%;
}

 .post_content {
  position: relative;
  width: 800px;
  height: 484px;
  top: -150px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
}

 .upload_button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 138px;
  height: 48px;
  top: 416px;
  left: 650px;
  background-color: #e5e6ec;
  border-radius: 4px;
}

 .text_in_upload_button {
  position: absolute;
  width: 43px;
  height: 22px;
  top: 12px;
  left: 48px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #222b45;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

 .count {
  position: absolute;
  width: 96px;
  height: 19px;
  top: 360px;
  left: 692px;
}

 .text_count {
  position: absolute;
  width: 96px;
  height: 19px;
  top: -1px;
  left: 0;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #2d3748;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

 .content {
  position: absolute;
  width: 776px;
  height: 104px;
  top: 260px;
  left: 12px;
  border: 2px solid;
  border-color: #ffffff;
  overflow-y: hidden;
}

 .textbox {
  position: relative;
  width: 770px;
  height: 100px;
  top: 2px;
  left: 2px;
  border-radius: 2px;
  overflow: hidden;
  overflow-y: hidden;
  resize: none; /* Vô hiệu hóa thay đổi kích thước */

}
.textbox {
    border: none; /* Loại bỏ viền */
    outline: none; /* Loại bỏ viền focus mặc định */
    overflow: hidden; /* Ẩn thanh cuộn */
    resize: none; /* Vô hiệu hóa thay đổi kích thước */
  }
  

 .drop_and_drag {
  position: absolute;
  width: 772px;
  height: 130px;
  top: 86px;
  left: 14px;
  background-color: #e2e8f040;
  border-radius: 8px;
  border: 2px dashed;
  border-color: #cbd5e0;
}

 .add_image_icon {
  position: absolute;
  width: 22px;
  height: 20px;
  top: 26px;
  left: 375px;
}

 .text_add_avt {
  position: absolute;
  width: 129px;
  height: 24px;
  top: 54px;
  left: 322px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #222b45;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

 .text_drop_and_drag {
  position: absolute;
  width: 85px;
  height: 24px;
  top: 78px;
  left: 344px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #222b45;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}



 .logo_title {
  position: absolute;
  width: 79px;
  height: 7px;
  top: 29px;
  left: 52px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #2d3748;
  font-size: 8px;
  letter-spacing: 2.20px;
  line-height: 7px;
  white-space: nowrap;
}
body {
  background-color: #ffffff;
  overflow-x: hidden; /* Ẩn thanh cuộn ngang của trang */
}
